.board {
    position: absolute;
    left: 30%;
    top: 35%;
    width: 60vh;
    height: 60vh;
    border: 3px solid black;
    z-index: -2;
}

.iconBoard {
    position: absolute;
    border: 3px solid yellow;
    left: 110%;
    top: 15%;
    width: 20%;
    height: 70%;
}

.icon {
    position: absolute;
    height: 0;
    width: 50%;
    left: 25%;
    padding-bottom: 50%;
}

.blackIcon {
    top: 10%;
    background-color: black;
}

.batsuIcon {
    top: 45%;
    border: 1px solid black;
}

.batsuIcon::before,
.batsuIcon::after {
    content: "";
    display: block;
    width: 100%;
    /*バツ線の長さ*/
    height: 3px;
    /*バツ線の太さ*/
    background: #000;
    transform: rotate(45deg);
    transform-origin: 0% 50%;
    position: absolute;
    top: calc(20% - 5px);
    left: 14%;
}

.batsuIcon::after {
    transform: rotate(-45deg);
    transform-origin: 100% 50%;
    left: auto;
    right: 14%;
}

.whteIcon {
    top: 80%;
    border: 1px solid black;
}

.selectedIcon {
    box-shadow: 5px 5px orange;
}

.boardElem {
    position: absolute;
    border: 3px solid black;
    width: 10%;
    height: 10%;
}

.checked {
    position: absolute;
    background-color: black;
    width: 10%;
    height: 10%;
}

.x0 {
    left: 0%;
}

.x1 {
    left: 10%;
}

.x2 {
    left: 20%;
}

.x3 {
    left: 30%;
}

.x4 {
    left: 40%;
}

.x5 {
    left: 50%;
}

.x6 {
    left: 60%;
}

.x7 {
    left: 70%;
}

.x8 {
    left: 80%;
}

.x9 {
    left: 90%;
}

.y0 {
    top: 0%;
}

.y1 {
    top: 10%;
}

.y2 {
    top: 20%;
}

.y3 {
    top: 30%;
}

.y4 {
    top: 40%;
}

.y5 {
    top: 50%;
}

.y6 {
    top: 60%;
}

.y7 {
    top: 70%;
}

.y8 {
    top: 80%;
}

.y9 {
    top: 90%;
}

.upperBar {
    position: absolute;
    width: 10%;
    height: 100%;
    top: -100%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 22px;
}

.leftBar {
    position: absolute;
    width: 40%;
    height: 10%;
    left: -40%;
    font-size: 22px;
}

.upperNumbers {
    position: absolute;
    right: -30%;
    bottom: 2%;
}

.leftNumbers {
    position: absolute;
    white-space: normal;
    bottom: -30%;
    right: 5%;
}

.upper0 {
    left: 0%
}

.upper1 {
    left: 10%;
}

.upper2 {
    left: 20%;
}

.upper3 {
    left: 30%;
}

.upper4 {
    left: 40%;
}

.upper5 {
    left: 50%;
}

.upper6 {
    left: 60%;
}

.upper7 {
    left: 70%;
}

.upper8 {
    left: 80%;
}

.upper9 {
    left: 90%;
}

.left0 {
    top: 0%
}

.left1 {
    top: 10%;
}

.left2 {
    top: 20%;
}

.left3 {
    top: 30%;
}

.left4 {
    top: 40%;
}

.left5 {
    top: 50%;
}

.left6 {
    top: 60%;
}

.left7 {
    top: 70%;
}

.left8 {
    top: 80%;
}

.left9 {
    top: 90%;
}

.bigHello {
    font-size: 70px;
}