.formbar {
    width: 100%;
    height: 15vh;
    position: relative;
}

.textforms {
    position: absolute;
    width: 50%;
    height: 20%;
    left: 2%;
    top: 0;
}

.nameform {
    width: 100%;
}

.introform {
    width: 100%;
}

.submit {
    position: absolute;
    width: 10%;
    height: 40%;
    right: 2%;
    top: 30%;
    background-color: #e993d1;
    cursor: pointer;
}