.pictureflame {
    background-color: paleturquoise;
    width: 100%;
    text-align: center;
}

.playCard {
    background-color: red;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.playString {
    color: yellow;
    font-size: larger;
}

.picTitle {
    font-size: larger;
    // margin: 1px auto;
}